<script lang="ts">
import Vue from 'vue';

import { SlpColumn, SlpRow } from '../common/index.vue';

export default Vue.extend({
  name: 'AnalystsCTA',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>
<template>
  <section class="analysts-cta slp-mb-96 slp-mt-96">
    <SlpRow :class="{ row__centered: data.column_size }">
      <SlpColumn
        :cols="data.column_size || 12"
        class="slp-flex slp-align-items-center"
      >
        <div class="analysts-cta__body">
          <div
            :class="{
              centered: data.centered_by_default,
            }"
            class="analysts-cta__header"
          >
            <SlpTypography
              tag="h1"
              class="analysts-cta__title analysts-cta__title-image"
            >
              {{ data.title }}
            </SlpTypography>
            <SlpTypography
              v-if="data.subtitle"
              tag="h2"
              variant="body1"
              class="analysts-cta__subtitle"
            >
              {{ data.subtitle }}
            </SlpTypography>
          </div>
          <SlpTypography v-if="data.tag_line" tag="p" class="slp-mb-24">{{
            data.tag_line
          }}</SlpTypography>
        </div>
      </SlpColumn>
    </SlpRow>
  </section>
</template>
<style lang="scss" scoped>
.analysts-cta {
  margin-bottom: $spacing-64;
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
    margin-bottom: $spacing-96;
  }

  &.no-margin-bottom {
    margin-bottom: 0;
  }

  .row {
    &__centered {
      display: flex;
      justify-content: center;
    }
  }

  &__body {
    &--no-image {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &--text {
      margin: 0 auto;
      @media (min-width: $breakpoint-md) {
        width: 65%;
        margin-top: 20px;
      }
    }
  }

  &__header {
    text-align: center;

    @media (min-width: $breakpoint-md) {
      &:not(.centered) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 36px;
    line-height: 44px;

    @media (min-width: $breakpoint-sm) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  &__subtitle {
    font-size: 19px;
    margin-top: 20px;

    @media (min-width: $breakpoint-md) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    &.centered {
      justify-content: center;
    }

    a {
      width: 100%;
      margin-bottom: $spacing-8;

      @media (min-width: $breakpoint-md) {
        width: inherit;
        margin-bottom: inherit;
      }
    }

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
  }

  &__title-image {
    position: relative;
    display: inline;
  }
}

.cta__company-icon {
  height: 19px;
}

.image-wrapper {
  width: 100%;
}

.cta__image {
  max-height: 362px;
  max-width: 100%;

  &.border {
    border: 1px #f2f2f2 solid;
    border-radius: 6px;
  }

  &.shadow {
    box-shadow: 15px 15px 0 #f2f2f2;
    margin: 0 auto;
    max-width: 95%;
  }
}
</style>
