<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    plans: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      expanded: false,
    };
  },
  methods: {
    toggleTable() {
      this.expanded = !this.expanded;
    },
  },
});
</script>

<template>
  <div class="table-container">
    <button
      id="table-control"
      type="button"
      aria-controls="features-table"
      :aria-expanded="expanded"
      :aria-label="`${expanded ? 'Close' : 'Expand'} features table`"
      class="table-toggle"
      data-inbound-analytics="pricing-compare-features"
      :data-ga-toggle="expanded ? 'collapse' : 'expand'"
      @click="toggleTable"
    >
      <SlpTypography id="table-caption" variant="heading3" tag="h3">{{
        data.header
      }}</SlpTypography>
      <img
        v-if="expanded"
        src="/nuxt-images/icons/slp-minus.svg"
        class="expand-icon"
        alt=""
      />
      <img
        v-else
        src="/nuxt-images/icons/slp-plus.svg"
        class="expand-icon"
        alt=""
      />
    </button>
    <div
      v-if="expanded"
      id="features-table"
      aria-labelledby="table-control"
      class="features-table"
    >
      <table aria-labelledby="table-caption">
        <thead>
          <tr class="header-row">
            <th class="extended-width"></th>
            <th v-for="plan in plans" :key="plan.id" class="table-header">
              <div class="table-header__content">
                <SlpTypography variant="heading3-bold" tag="h3" class="title">{{
                  plan.title
                }}</SlpTypography>
                <SlpTypography variant="body1" class="price"
                  >${{ plan.monthly_price }} per user/month
                </SlpTypography>
                <SlpTypography
                  v-if="plan.monthly_price === 0"
                  tag="p"
                  variant="body3"
                  class="price-annually"
                >
                  No credit card required
                </SlpTypography>
                <SlpTypography
                  v-else
                  tag="p"
                  variant="body3"
                  class="price-annually"
                >
                  Billed annually at ${{ plan.monthly_price * 12 }} USD
                </SlpTypography>
                <div
                  :data-ga-name="plan.data_ga_name"
                  data-ga-location="compare-features"
                  @click="$emit('planSelect', plan)"
                >
                  <SlpButton
                    :variant="plan.title === 'Free' ? 'tertiary' : 'primary'"
                  >
                    {{ plan.button_copy }}
                    <img
                      v-if="plan.title === 'Free'"
                      class="chevron"
                      src="/nuxt-images/icons/slp-chevron-lg.svg"
                      alt=""
                    />
                  </SlpButton>
                </div>
              </div>
              <div class="table-header__content__mobile">
                <SlpTypography variant="heading3-bold" tag="h3" class="title">{{
                  plan.title
                }}</SlpTypography>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="feature in data.rows"
            :key="feature.text"
            class="features-table__row"
          >
            <th scope="row" class="extended-width feature-label">
              <a
                v-if="feature.link"
                :href="feature.link"
                :data-ga-name="feature.text"
                data-ga-location="body"
              >
                {{ feature.text }}
              </a>
              <span v-else>
                {{ feature.text }}
              </span>
            </th>
            <td class="free">
              <div v-if="feature.values">
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__desktop"
                  >{{ feature.values.free.desktop }}</SlpTypography
                >
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__mobile"
                  >{{ feature.values.free.mobile }}</SlpTypography
                >
              </div>
              <img
                v-else-if="feature.tier_level <= 0"
                :aria-label="`${feature.text} is within free tier.`"
                class="check-icon"
                src="/nuxt-images/icons/slp-check-lg.svg"
                alt=""
              />
              <p v-else class="empty-cell">
                {{ feature.text }} is not within free tier.
              </p>
            </td>
            <td class="premium">
              <div v-if="feature.values">
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__desktop"
                  >{{ feature.values.premium.desktop }}</SlpTypography
                >
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__mobile"
                  >{{ feature.values.premium.mobile }}</SlpTypography
                >
              </div>
              <img
                v-else-if="feature.tier_level <= 1"
                :aria-label="`${feature.text} is within premium tier.`"
                class="check-icon"
                src="/nuxt-images/icons/slp-check-lg.svg"
                alt=""
              />
              <p v-else class="empty-cell">
                {{ feature.text }} is not within premium tier.
              </p>
            </td>
            <td class="ultimate">
              <div v-if="feature.values">
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__desktop"
                  >{{ feature.values.ultimate.desktop }}</SlpTypography
                >
                <SlpTypography
                  variant="body3-bold"
                  class="cell-value__mobile"
                  >{{ feature.values.ultimate.mobile }}</SlpTypography
                >
              </div>
              <img
                v-else-if="feature.tier_level <= 2"
                :aria-label="`${feature.text} is within ultimate tier.`"
                class="check-icon"
                src="/nuxt-images/icons/slp-check-lg.svg"
                alt=""
              />
              <p v-else class="empty-cell">
                {{ feature.text }} is not within ultimate tier.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.table-container {
  background-color: $color-surface-100;
  margin-bottom: $spacing-96;
  border-radius: $border-radius-4;
}

.features-table {
  padding: 0 $spacing-16;
  padding-bottom: $spacing-48;
  table {
    border-collapse: collapse;
  }
  &__row {
    border-top: $color-surface-400 solid 1px;
    height: 48px;

    .ultimate .check-icon {
      filter: invert(48%) sepia(92%) saturate(3122%) hue-rotate(240deg)
        brightness(86%) contrast(102%);
    }

    .empty-cell {
      // Cell is visually empty but allows text to be read on screen readers
      border: 0;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .cell-value {
      &__desktop {
        display: none;
        @media (min-width: $breakpoint-lg) {
          display: block;
        }
      }
      &__mobile {
        display: block;
        @media (min-width: $breakpoint-lg) {
          display: none;
        }
      }
    }

    .free,
    .premium,
    .ultimate {
      text-align: center;
      border-left: 1px dashed $color-surface-400;
    }

    .check-icon {
      height: 14px;
    }
  }
}

.table-toggle {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding: $spacing-24 $spacing-32;
  .expand-icon {
    height: 24px;
    width: 24px;
    user-select: none;
  }
}

.extended-width {
  width: 100%;
}

.table-header {
  border-left: 1px dashed $color-surface-400;

  &__content {
    display: none;
    @media (min-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column;
    }
    white-space: nowrap;
    padding: $spacing-32 $spacing-24;
    text-align: left;
    .chevron {
      margin-left: 18px;
    }
    .title {
      margin-bottom: $spacing-8;
    }
    .price-annually {
      margin-bottom: $spacing-16;
    }
    &__mobile {
      display: block;
      transform: rotate(180deg);
      writing-mode: tb;
      padding: $spacing-16 $spacing-8;

      @media (min-width: $breakpoint-lg) {
        display: none;
      }
    }
  }
}
.header-row {
  position: static;

  @media (min-width: $breakpoint-lg) {
    background-color: $color-surface-100;
    position: sticky;
    top: 64px;
    z-index: 1;
    box-shadow: 0px 8px 50px -50px #45424d;
  }
}
</style>
