<script lang="ts">
import Vue from 'vue';
import { SlpRow, SlpColumn } from '../common/index.vue';

export default Vue.extend({
  name: 'CaseStudyQuote',
  components: { SlpColumn, SlpRow },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div>
    <a v-if="data.url" :href="data.url" class="case-study-quote__link">
      <SlpRow class="case-study-quote">
        <SlpColumn :cols="3" class="case-study-quote__main-img">
          <img
            v-if="data.main_img"
            :src="data.main_img.url"
            :alt="data.main_img.alt"
            width="300"
            height="300"
          />
        </SlpColumn>
        <SlpColumn :cols="8">
          <div class="case-study-quote__title-img">
            <img
              v-if="data.title_img"
              :src="data.title_img.url"
              :alt="data.title_img.alt"
            />
          </div>
          <SlpTypography
            class="case-study-quote__body"
            tag="p"
            variant="heading5"
          >
            <i>{{ data.quote }}</i></SlpTypography
          >
          <SlpTypography
            class="case-study-quote__author"
            tag="p"
            variant="body3-bold"
            >- {{ data.author }}</SlpTypography
          >
        </SlpColumn>
      </SlpRow>
    </a>
    <SlpRow v-else>
      <SlpColumn :cols="3" class="case-study-quote__main-img">
        <img
          v-if="data.main_img"
          :src="data.main_img.url"
          :alt="data.main_img.alt"
          width="300"
          height="300"
        />
      </SlpColumn>
      <SlpColumn :cols="8">
        <div class="case-study-quote__title-img">
          <img
            v-if="data.title_img"
            :src="data.title_img.url"
            :alt="data.title_img.alt"
          />
        </div>
        <SlpTypography
          class="case-study-quote__body"
          tag="p"
          variant="heading5"
        >
          <i>{{ data.quote }}</i></SlpTypography
        >
        <SlpTypography
          class="case-study-quote__author"
          tag="p"
          variant="body3-bold"
          >- {{ data.author }}</SlpTypography
        >
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style scoped lang="scss">
.case-study-quote {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-md) {
    flex-wrap: nowrap;
  }

  &__title-img {
    width: 6rem;
  }

  &__body {
    padding: $spacing-16 $spacing-16 $spacing-16 0;
  }

  &__main-img {
    min-width: 250px;
    margin-right: $spacing-64;

    img {
      max-width: 100%;
      border-radius: 0px 0px 100px 0px;
      object-fit: cover;
    }
  }
}

.case-study-quote__link {
  color: $color-text-300;
}
</style>
