<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import {
  NextStep as FeaturesCTA,
  // SideNavigation
} from '../../components/common/index';
import {
  FeatureOverview,
  FeatureBenefit,
  FeatureBlockHero,
  // FeatureBlockRelated,
  // SolutionsResourceCards
} from '../../components/features/index';

export default Vue.extend({
  components: {
    FeaturesCTA,
    // SideNavigation,
    FeatureBlockHero,
    FeatureOverview,
    FeatureBenefit,
    // FeatureBlockRelated,
    // SolutionsResourceCards,
  },
  async asyncData({ $content }: any) {
    const doc = await $content(
      'stages-devops-lifecycle/features/source-code-management',
    )
      .where({ slug: { $contains: ['source-code-management'] } })
      .fetch();
    return { doc };
  },
  head() {
    const title = 'Source Code Management';
    const description =
      'Source code management enables coordination, sharing, and collaboration across an entire software development team. GitLab supports teams to rapidly collaborate and iterate on new features and deliver business value.';

    return {
      title,
      meta: [
        {
          hid: 'twitter: title',
          name: 'twitter:title',
          content: title,
        },
        { hid: 'description', name: 'description', content: description },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: description,
        },
        { hid: 'og:description', name: 'og:description', content: description },
      ],
    };
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <FeatureBlockHero :data="doc['feature-block-hero'].data" />
    <FeatureOverview :data="doc['feature-overview'].data" />
    <FeatureBenefit :data="doc['feature-benefit'].data" />
    <!-- <FeatureBlockRelated :data="$data['feature-block-related'].data" /> -->
    <!-- <SolutionsResourceCards :data="$data['solutions-resource-cards'].data" /> -->
    <FeaturesCTA />
  </div>
</template>
