<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  FeaturesLandingHero,
  FeaturesMenu,
  FeaturesContent,
  FeaturesCopyMedia,
  FeaturesFilter,
} from '../../components/features/index';
import { SlpContainer, NextStep } from '../../components/common/index';
import { SolutionsResourceCards } from '../../components/solutions/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  name: 'Features',
  components: {
    NextStep,
    FeaturesLandingHero,
    SolutionsResourceCards,
    FeaturesFilter,
    SlpContainer,
    FeaturesCopyMedia,
    FeaturesContent,
    FeaturesMenu,
  },
  // eslint-disable-next-line no-unused-vars
  async asyncData({ $content, _params, error }: any) {
    try {
      const doc = await $content(`features`)
        .where({ slug: { $contains: ['features-partial'] } })
        .sortBy('slug', 'asc')
        .fetch();

      const features = doc.reduce(
        (previous: any, current: any) => {
          const mergedFeature = {
            ...previous,
            ...current,
            feature_content: {
              products_category: {
                ...previous.feature_content.products_category,
                ...current.feature_content.products_category,
                products: [
                  ...previous.feature_content.products_category.products,
                  ...current.feature_content.products_category.products,
                ],
              },
            },
          };

          return mergedFeature;
        },
        {
          feature_content: {
            products_category: { products: [] },
            missing_products_category: { products: [] },
          },
        },
      );

      return { features };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  data() {
    return {
      selectedTab: '',
      contentFilter: {
        category: '',
        plan: '',
        hosting: '',
      },
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).features, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    this.selectedTab = this.$route.query.stage
      ? this.$route.query.stage
      : (this as any).features.tabs[0].text.toLowerCase();

    if (!this.$route.query.stage) {
      this.$router.push({
        path: '',
        query: { stage: this.selectedTab },
        replace: true,
      });
    }

    this.contentFilter = {
      ...this.contentFilter,
      category: (this as any).features[this.selectedTab].copy_media
        .categories[0],
    };
  },
  methods: {
    onTabChange(tab: string) {
      this.selectedTab = tab;

      this.contentFilter = {
        ...this.contentFilter,
        category: (this as any).features[this.selectedTab].copy_media
          .categories[0],
      };
    },
    onUpdateFilter(newFilter: any) {
      this.contentFilter = {
        category: newFilter.category,
        hosting: newFilter.hosting,
        plan: newFilter.plan.toLowerCase(),
      };
    },
  },
});
</script>

<template>
  <section>
    <SlpContainer variant="light-purple-100">
      <FeaturesLandingHero :data="features.call_to_action" />
      <FeaturesMenu
        v-if="selectedTab"
        :tabs="features.tabs"
        :default-tab="selectedTab"
        @tabChange="onTabChange"
      />
      <template v-if="features[selectedTab]">
        <FeaturesCopyMedia :data="features[selectedTab]['copy_media']" />
        <FeaturesFilter
          :default-category="contentFilter.category"
          :dropdown-options="features[selectedTab]['copy_media']['categories']"
          @updateFilter="onUpdateFilter"
        />
        <FeaturesContent
          :data="features.feature_content"
          :filter="contentFilter"
        />
      </template>
    </SlpContainer>
    <SlpContainer>
      <SolutionsResourceCards :data="features.resources" />
    </SlpContainer>
    <SlpContainer>
      <NextStep />
    </SlpContainer>
  </section>
</template>
