<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow>
      <SlpColumn :cols="2" />
      <SlpColumn :cols="7">
        <SlpTypography
          class="slp-pb-160 slp-pt-96"
          variant="heading3"
          tag="p"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          <SlpTypography variant="heading3-bold" tag="span">
            {{ data.content_summary_bolded }}
          </SlpTypography>
          {{ data.content_summary }}
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn :cols="2" />
      <SlpColumn :cols="6">
        <SlpTypography
          class="slp-pb-96"
          variant="heading2-bold"
          tag="h2"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          {{ data.content_heading }}
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-pb-160">
      <SlpColumn :cols="2" />
      <SlpColumn :cols="5" data-aos="zoom-in-right" data-aos-duration="800">
        <img
          style="width: 100%"
          :src="`/nuxt-images/features/${data.content_image}`"
          alt=""
        />
      </SlpColumn>
      <SlpColumn :cols="5" data-aos="zoom-in-left" data-aos-duration="800">
        <div
          v-for="item in data.content_list"
          :key="item"
          class="slp-flex slp-pl-16 slp-pb-32"
          style="align-items: center"
        >
          <img src="/nuxt-images/icons/check.svg" alt="" />
          <SlpTypography class="slp-pl-16" tag="h5" variant="heading5">
            {{ item }}
          </SlpTypography>
        </div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>
