<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { NextSteps } from '../components/pricing/index';
import {
  SolutionsHero,
  SolutionsResourceCards,
} from '../components/solutions/index';
import {
  ByIndustryIntro,
  ByIndustrySolutionsBlock,
  ByIndustryCaseStudies,
} from '../components/solutions/by-industry/index';
import {
  BySolutionIntro,
  BySolutionBenefits,
  BySolutionValueProp,
} from '../components/solutions/by-solution/index';
import { getPageMetadata } from '../common/meta';

export default Vue.extend({
  components: {
    NextSteps,
    SolutionsHero,
    ByIndustryIntro,
    BySolutionIntro,
    BySolutionBenefits,
    ByIndustrySolutionsBlock,
    BySolutionValueProp,
    ByIndustryCaseStudies,
    SolutionsResourceCards,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('small-business', params.slug).fetch();
    return { doc };
  },
  head() {
    return getPageMetadata(this.doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <SolutionsHero :data="doc.solutions_hero" />
    <ByIndustryIntro :data="doc.by_industry_intro" />
    <BySolutionIntro :data="doc.by_solution_intro" />
    <BySolutionBenefits :data="doc.by_solution_benefits" />
    <ByIndustrySolutionsBlock :data="doc.by_industry_solutions_block" />
    <BySolutionValueProp :data="doc.by_solution_value_prop" />
    <ByIndustryCaseStudies :data="doc.by_industry_case_studies" />
    <SolutionsResourceCards :data="doc.solutions_resource_cards" />
    <NextSteps />
  </div>
</template>
